.container {
    background-color: #12486B;
}

.px-3 {
    background-color: #12486B;
}

span {
    font-family: "Poppins", sans-serif;
    color:aqua;
    font-size: 50px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.raihankusumalogo{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.nav-link {
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
    font-weight: 900;
}
#header {
    display: flex;
    background-color: #12486B;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    color: white;
    font-family: 'Mooli', sans-serif;
}

.navbar {
    display: flex;
    font-size: 20px;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;


}
.profile-photo {
    background-color:#12486B;

}

.profile-photo > img {

    margin: 0;
    height: 700px;
}

.intro-text {
    font-family: 'Mulish', sans-serif;
    padding: 50px;
    background-color: #12486B;
}

.intro-text > * {
    color: white;
    text-align: left;
}

.im {
    margin-bottom: 0px;
    font-size: 20px;
}

.raden {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;

}

.imwebdev {
    
    color: aqua;
}

.about-me-button {
    margin-top: 20px;
    background-color:#12486B;
    border-radius: 10px;
    padding: 10px;
    border: solid #78D6C6;
    font-family: 'Mulish', sans-serif;
    color: white;
}








.content {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    border: solid rgba(255, 255, 255, 0.209);
    background-color: aliceblue;
}

.content-title {
    background-color:#78D6C6;
    padding: 20px ;

}

.title-color {
    color:#12486B;
    font-weight: 900;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#subheader {
    background-color:#12486B;
    border: solid #12486B;
    text-align: center;
    color: white;
    font-family: 'Mulish', sans-serif;

}

#footer {
    background-color: #12486B;
    padding: 20px;
}

.footer {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}


